<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mike Yang's blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>published:14.06.2017, 10.09</p>
        <h2>
            <a href="">My first post</a>
            <p>Aenean eu leom quan. Please have a good day</p>
        </h2>
    </div>

    <div>
        <p>published:14.06.2017, 10.09</p>
        <h2>
            <a href="">My first post</a>
            <p>Aenean eu leom quan. Please have a good day</p>
        </h2>
    </div>
</body>
</html>
